*{
  margin: 0;
  padding: 0;
}
body{
  background: #222;
  color: white;
  font-family: system-ui;
}

.crud{
  width: 80%;
  margin: auto;
}
.head{
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
input{
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  background: #111;
  margin: 4px 0;
  border-radius: 4px;
  padding: 4px;
  color: white;
}
input:focus{
  background: #000;
  transform: scale(1.1);
}
.price input{
  width: 20%;
}
#total{
  background:#a00d02;
  padding:4px 2px;
  border-radius: 2px;
}
#total:before{
  content: 'total: ';
}
button:not(#btnMenu):not(.hide){
  border: none;
  color: white;
  background-color:#e81111 ;
  padding: 3px;
  border-radius: 25px;
  width: 100%;
  height:30px;
  transition: 0.5s;
}
button:hover:not(#btnMenu):not(.hide){
  
  background: #f45454;
  letter-spacing: 1px;
  
}
.btnSearch{
  display: flex;
  justify-content: space-between;
}
.btnSearch button{
  width: 45%;
  
}
table{
  width: 100%;
  text-align:center;
  margin:10px 0 ;
}
table th{
  text-transform: uppercase;
}
th,td{
  padding: 5px;
}
#deleteAll{
  margin: 18px 0;
}
/* menu */
#menu{
  margin: 0;
  text-decoration: none;
  left: -150px;
  position: fixed;
  z-index: 3;
  background: #222;
  height: 100%;
  width: 10%;
  top: -20px;
  border: 2px solid #111;
  border-radius: 5px;
}
#menu a{
    text-decoration: none;
    display: block;
    margin: 30px 0;
    color: white;
padding: 5px;

}
#menu a:hover{
  color: black;
  background: white;
  
}
#btnMenu{
  color: white;
  border: none;
  background-image:url(menu.png) ;
  border-radius: 15px;
  padding: 20px;
  background-size: cover;
  position: fixed;
  left: -10px;
  top: -5px;
}
.hide{
  
  color: white;
  border: none;
  background-image:url(back.png) ;
  border-radius: 15px;
  padding: 20px;
  background-size: cover;
  position: fixed;
  left: -10px;
  top: -5px;
  display:none;
}
